@import "reset.css";
.active {
    background: #2D3250;
}
body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
footer {
    position: absolute;
    bottom: 0;
    right: 5px;
}
body {
    background-color: #f8f9fa;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
    background-image: url('../../../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /*display: flex;*/
    /*justify-content: center;*/
}
.home {
    padding: 10px 10px;
    width: 40%;
    height: 10%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 10px;
}
.text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table thead {
    background-color: black;
    color: white;
    border: black;
}
table tbody {
    background-color: white;
    color: black;
}
.max-height {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}